# --find-links https://pypi.nvidia.com
# --find-links https://download.pytorch.org/whl/cu128

nvidia-dali-cuda120
torch
torchvision
torchcodec
huggingface_hub
numpy
onnx
onnxscript
onnxruntime-gpu
opencv-python
tensorboard
tqdm
segmentation-models-pytorch
fvcore
xformers
torchinfo
ninja