# --find-links https://pypi.nvidia.com
# --find-links https://download.pytorch.org/whl/cu128

nvidia-dali-cuda120
torch
torchvision
huggingface_hub
kornia
numpy
onnx
onnxscript
pyinstrument
onnxruntime-gpu
opencv-python-headless
tensorboard
tqdm
